[submodule "src/solvers/aeros"]
	path = src/solvers/aeros
	url = https://github.com/anarkh97/aero-s-foam.git
[submodule "src/solvers/m2c"]
	path = src/solvers/m2c
	url = https://github.com/anarkh97/m2c.git
