build/
examples/**/*.dat
examples/**/*.log
examples/**/*.rst
examples/**/evaluation.*/
examples/**/*.out
examples/**/parser/*.o
examples/**/parser/Lexer.C
examples/**/parser/*tab.*
examples/**/parser/*.a
examples/**/parser/Parser.output
